@model CraftingServiceApp.Web.ViewModels.ForgotPasswordViewModel

<form asp-action="ForgotPassword" method="post">
    <label for="Email">Email</label>
    <input asp-for="Email" type="email" id="Email" />
    <button type="submit">Send Reset Link</button>
</form>
