@model CraftingServiceApp.Web.ViewModels.ResetPasswordViewModel

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <label>New Password</label>
    <input asp-for="Password" type="password" />

    <label>Confirm Password</label>
    <input asp-for="ConfirmPassword" type="password" />

    <button type="submit">Reset</button>
</form>
